@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #FAFAF8;
}

.suggested-recipe-container {
  color: #475467;
  line-height: 28px;
  font-size: 1.125rem;
  font-weight: 400;
}

.suggested-recipe-container ul li {
  margin-bottom: 8px;
  margin-left: 2rem;
  list-style-type: disc;
}

.suggested-recipe-container ol li {
  margin-bottom: 8px;
  margin-left: 2rem;
  list-style-type: decimal;
}

.shake {
    animation: shake 0.25s;
    animation-iteration-count: 1;
}

@keyframes shake {
    0% { transform: translate(0px, 0px)}

    20% { transform: translate(20px, 0px)}

    40% { transform: translate(-20px, 0px)}

    60% { transform: translate(10px, 0px)}

    80% { transform: translate(-5px, 0px)}

    100% { transform: translate(0px, 0px)}
}

.error {
    background-color: #e54646;
    color: white;
}
